<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const cars = ["Mercedes","Volkswagen","Opel","Tesla"];
        console.log(cars);
        cars.push("Porsche");
        console.log(cars);
        cars.splice(2,1,"Audi");
        console.log(cars);
        alert(cars.shift());
        console.log(cars);
        alert(cars.pop());
        console.log(cars);
        //Test change
    </script>
</body>
</html>