<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function triple(pValue1)
        {
            return pValue1*3;
        }

        console.log(triple(1));

        function even(pValue2)
        {
            return pValue2==2;
        }

        console.log(even(1));

        function convert(pValue3)
        {
            return pValue3*60;
        }

        console.log(convert(5));

        function divides(pValue4,pValue5)
        {
            return pValue4/pValue5
        }

        console.log(divides(16,2));

        function salePrice(pValue6,pValue7)
        {
            return pValue6-pValue6*(pValue7/100);
        }

        console.log(salePrice(200,10));
    </script>
</body>
</html>