<!DOCTYPE html>
<html lang=en>

<head>
	<title>Exercise 9.3.4 Leap Year Test</title>
	<meta charset=UTF-8>
</head>

<body>
	<h1>Leap Year Tester</h1>
	<p id="result"></p>
	<script>
		'use strict';
		//start coding here
		function LeapYearCheck(yValue)
		{
			if(yValue % 4 != 0){
				console.log("Not a Leap Year");
			}
			else if(yValue % 100 == 0){
				console.log("Leap Year");
			}
			else if(yValue % 400 != 0){
				console.log("Leap Year");
			}
			else{
				console.log("Not a Leap Year");
			}
		}

		LeapYearCheck(2024)

	</script>
</body>

</html>