<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Exercise 9.3.5 Phone Call</title>
		<meta charset=UTF-8>
		<link rel="stylesheet" href="grid.css">
	</head>
	<body>
		
		  <div class="row"> 
			<div class="column">
			  <img src=Phone_Call_Images/Phone_Number_1.png id="im1" width=200 height=220>
			  <img src=Phone_Call_Images/Phone_Number_2.png id="im2" width=200 height=220>
			  <img src=Phone_Call_Images/Phone_Number_3.png id="im3" width=200 height=220>
			</div>
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_4.png id="im4" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_5.png id="im5" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_6.png id="im6" width=200 height=220>
			</div> 
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_7.png id="im7" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_8.png id="im8" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_9.png id="im9" width=200 height=220>
			</div>
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_0.png id="im0" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Pick_Up.png id="im10" width=200 height=200>
			</div>
		  </div>
		<div>
		<h1 id="callNumber"> Calling: </h1>
		</div>
		<script>
			'use strict';
			let numberToCall="";
			let booleanCall=true;

			var Dialed_Number = ""
			var Call=true;

			function update(){
				if(Call==true){
					document.getElementById("callNumber").innerHTML="Dial: "+Dialed_Number;
				}
				else{
					document.getElementById("callNumber").innerHTML="Calling: "+Dialed_Number;
				}
			
			}

			document.getElementById("im1").addEventListener("click", dial1);
			function dial1(){
				Dialed_Number = Dialed_Number+"1"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im2").addEventListener("click", dial2);
			function dial2(){
				Dialed_Number = Dialed_Number+"2"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im3").addEventListener("click", dial3);
			function dial3(){
				Dialed_Number = Dialed_Number+"3"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im4").addEventListener("click", dial4);
			function dial4(){
				Dialed_Number = Dialed_Number+"4"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im5").addEventListener("click", dial5);
			function dial5(){
				Dialed_Number = Dialed_Number+"5"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im6").addEventListener("click", dial6);
			function dial6(){
				Dialed_Number = Dialed_Number+"6"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im7").addEventListener("click", dial7);
			function dial7(){
				Dialed_Number = Dialed_Number+"7"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im8").addEventListener("click", dial8);
			function dial8(){
				Dialed_Number = Dialed_Number+"8"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im9").addEventListener("click", dial9);
			function dial9(){
				Dialed_Number = Dialed_Number+"9"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im0").addEventListener("click", dial0);
			function dial0(){
				Dialed_Number = Dialed_Number+"0"
				console.log(Dialed_Number);
				update();
			}
			document.getElementById("im10").addEventListener("click", dialC);
			function dialC(){
				if(Call==true){
					console.log("Call");
					document.getElementById("im10").src="Phone_Call_Images/Phone_Hang_Up.png"
					Call=false
					update();
				}
				else{
					console.log("Dial")
					document.getElementById("im10").src="Phone_Call_Images/Phone_Pick_Up.png"
					Call=true
					Dialed_Number=""
					update();
				}
			}

			update();


			
			//When passing parameter values, use an "anonymous function" that calls the specified function with the parameters:‚
			//element.addEventListener("click", function(){ myFunction(p1, p2); });
		</script>
	</body>
</html>